*{
    font-family: sans-serif;
}
img{
    height: 190px;
    margin-top: 200px;
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 75px;
}
body{
    background-image: linear-gradient(109deg, #412999, #7850b1, #a97ac9, #d9a6e1)
}
#border{
    height: 525px;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 28px;
    outline: 2px solid yellow;
    border-radius: 120px 10px 120px 10px;
    outline-offset: 2px;
}
form{
    position: relative;
    left: 400px;
    bottom: 300px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 42px;
}
input{
    margin-top: 20px;
    height: 40px;
    width: 290px;
    padding-left: 15px;
    border-radius: 34px;
    border: 0px;
    outline: 2px solid rgb(139, 21, 21) ;
    transition: 300ms;
}
input:hover{
    outline-offset: 4px;
    outline: 2px solid red;
}
button{
    margin-top: 32px;
    height: 40px;
    width: 150px;
    border: 2px solid black;
    font-weight: 900;
    letter-spacing: 3px;

}
#login{
    border-top-left-radius: 50px;
    background-color: green;
    color: white;
    transition: 200ms;
}
#login:hover{
    box-shadow: 3px 1px 12px green;
}
#reset{
    border-bottom-right-radius: 50px;
    color: green;
    transition: 200ms;
}
#reset:hover{
    box-shadow: 3px 1px 12px black;
}
p{
    letter-spacing: 1px;
}
.p_one{
    margin-left: 38px;
    margin-top: 23px;
}
.p_two{
    position: relative;
    top: 40px;
    right: 320px;
    color: darkblue;
    text-decoration: underline;
}
b{
    color: rgb(18, 6, 103);
}